ErrorScreen
{
    content-align: center middle;
    align: center middle;
    background: rgba(0, 0, 0, 0.6);
}

.messageErro {

    border: heavy $accent;
    padding: 1;
    width:auto;
    height: auto;
    align: center middle;
}
.ButtonErro
{
    height:100;
    width:100;
    margin-top:1;
    background:red;
}
.LabelErro
{
    width:auto;
    height:100%;
}