$cor-primaria: black;
$cor-secundaria: gray

.tables_container{
    border:round $cor-secundaria;
}
Screen
{
    layout:grid;
    grid-size:3 3;
    grid-rows:1fr 2fr 2fr;

    background: $cor-primaria;

}
.threads-container
{
    width:1fr;
    border:round $cor-secundaria;
    row-span:1;
    column-span:3;
    margin:0;
}
.prot-container
{
    width:2fr;
    border:round $cor-secundaria;
    row-span:1;
    column-span:3;
    margin:0;
}
.plotext
{
    width:100%;
    height:100%;
}
.tables
{

    row-span:1;
    column-span:3;
    margin:0;
}

.log-container
{
    border:round $cor-secundaria;
    row-span:1;
    column-span:3;
    margin:0;
}

.thr-container
{

    row-span:1;
    column-span:3;
    margin:0;
}
